<!DOCTYPE html>
<html>

<head>
    <title>CloudQuery</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <nav class="nav">
        <div>
            <a href="/">
                <i class="glyphicon glyphicon-cloud"></i>
                CloudQuery
            </a>
        </div>
        <div>
            <a href="/"><i class="glyphicon glyphicon-home" style="padding-right: 5px"></i>Home</a>
            <a href="/"><i class="glyphicon glyphicon-info-sign" style="padding-right: 5px"></i>About</a>
            <a href="/"><i class="glyphicon glyphicon-log-out" style="padding-right: 5px"></i>Logout</a>
        </div>
        <div>
            <button><i class="glyphicon glyphicon-search" style="padding-right: 5px;"></i></button>
        </div>
        <a class="material-icons shopping-cart">shopping_cart</a>
    </nav>
    <div class="container">
        <div class="grid" id="main-grid">
        </div>
    </div>
</body>
<script type="module" src="scripts/index.js"></script>
</html>